<footer class="footer">
    <div class="footer__container">
         <div class="footer__menu">
        <ul class="footer__menu__list">
            <li class="footer__menu__list__item">
                <a href="" class="footer__menu__list__item__link">Giới thiệu</a>
            </li>
            <li class="footer__menu__list__item">
                <a href="" class="footer__menu__list__item__link">Điều khoản</a>
            </li>
            <li class="footer__menu__list__item">
                <a href="" class="footer__menu__list__item__link">Bảo mật</a>
            </li>
            <li class="footer__menu__list__item">
                <a href="" class="footer__menu__list__item__link">Hướng dẫn</a>
            </li>
            <li class="footer__menu__list__item">
                <a href="" class="footer__menu__list__item__link">Liên hệ</a>
            </li>
            <li class="footer__menu__list__item">
                <a href="" class="footer__menu__list__item__link">Quảng cáo</a>
            </li>
        </ul>
    </div>
    <div class="footer__email"><a href="mailto:tiendatsqlq1@gmail.com" ><span>Email: </span>tiendatsqlq1@gmail.com</a></div>
    <div class="footer__phone"><a href="tel:+84332913044" ><span>Điện thoại: </span>0332 913 044</a></div>
    </div>
</footer>