<nav class="header">
  <div class="header__container">
      <ul class="header__container__list">
        <li class="header__container__list__item">
          <a class="header__container__list__item__link " aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/cong-nghe">Công nghệ</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/tai-chinh">Tài chính</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/lap-trinh">Lập trình</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/du-lich">Du lịch</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/khoa-hoc">Khoa học</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/tin-tuc">Tin tức</a>
        </li>
        <li class="header__container__list__item">
          <a class="header__container__list__item__link" href="/giao-duc">Giáo dục</a>
        </li>
        
        <li class="header__container__list__item menu-all">
          <div class="header__container__list__item__menu" href=""><i class='icon bx bx-menu'></i></div>
          <div class="header__container__list__item__circle" href=""><i class='icon bx bx-x'></i></div>
          
        </li>
      </ul>
      </div>
      <div class="header__container__menu-all">
        <ul>
          <div class="topic"><a href="/cong-nghe">Công nghệ</a></div>
          <li><a href="">Sản phẩm</a></li>
          <li><a href="">Internet</a></li>
          <li><a href="">Game</a></li>
        </ul>
        <ul>
          <div class="topic"><a href="/tai-chinh">Tài chính</a></div>
          <li><a href="">Javascript</a></li>
          <li><a href="">HTML,CSS</a></li>
          <li><a href="">Python</a></li>
        </ul>
        <ul>
          <div class="topic"><a href="/lap-trinh">Lập trình</a></div>
          <li><a href="">Sản phẩm</a></li>
          <li><a href="">Internet</a></li>
          <li><a href="">Game</a></li>
        </ul>
        <ul>
          <div class="topic"><a href="/du-lich">Du lịch</a></div>
          <li><a href="">Sản phẩm</a></li>
          <li><a href="">Internet</a></li>
          <li><a href="">Game</a></li>
        </ul>
        <ul>
          <div class="topic"><a href="/khoa-hoc">Khoa học</a></div>
          <li><a href="">Sản phẩm</a></li>
          <li><a href="">Internet</a></li>
          <li><a href="">Game</a></li>
        </ul>
        <ul>
          <div class="topic"><a href="/tin-tuc">Tin tức</a></div>
          <li><a href="">Sản phẩm</a></li>
          <li><a href="">Internet</a></li>
          <li><a href="">Game</a></li>
        </ul>
        <ul>
          <div class="topic"><a href="/giao-duc">Giáo dục</a></div>
          <li><a href="">Sản phẩm</a></li>
          <li><a href="">Internet</a></li>
          <li><a href="">Game</a></li>
        </ul>
      </div>
  
</nav>
